In [4]:
import pandas as pd
from datetime import datetime

In [2]:
# checking customer data
customer = pd.read_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\Datasets\\Customers.csv", encoding='latin1')
print(customer.shape)
print(customer.info())
print(customer.head())

(15266, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CustomerKey  15266 non-null  int64
 1   Gender       15266 non-null  object
 2   Name         15266 non-null  object
 3   City         15266 non-null  object
 4   State Code   15256 non-null  object
 5   State        15266 non-null  object
 6   Zip Code     15266 non-null  object
 7   Country      15266 non-null  object
 8   Continent    15266 non-null  object
 9   Birthday     15266 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB
None
   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  WANDEARAH EAST         SA
1          325  Female       Madison Hull      MOUNT BUDD         WA
2          554  Female      Claire Ferres       WINJALLOK        VIC
3          786    Male  Jai Poltpalingada    MIDDLE RIVER         SA
4         1042    Male    Aidan Pankhurst   TAWONGA SOUTH        VIC

               State Zip Code    Country  Continent    Birthday
0    South Australia     5523  Australia  Australia    7/3/1939
1  Western Australia     6522  Australia  Australia   9/27/1979
2           Victoria     3380  Australia  Australia   5/26/1947
3    South Australia     5223  Australia  Australia   9/17/1957
4           Victoria     3698  Australia  Australia  11/19/1965

In [3]:
# EDA for customer
customer["City"] = customer["City"].str.lower() 
customer["Birthday"] = pd.to_datetime(customer["Birthday"], format="%m/%d/%Y")


# # converting into required type
# customer["Gender"] = customer["Gender"].astype("string")
# customer["Name"] = customer["Name"].astype('string')
# customer["City"] = customer["City"].astype('string')
# customer["State Code"] = customer["State Code"].astype('string')
# customer["State"] = customer["State"].astype('string')
# customer["Zip Code"] = customer["Zip Code"].astype('string')
# customer["Country"] = customer["Country"].astype('string')
# customer["Continent"] = customer["Continent"].astype('string')
# #customer["Birthday"] = customer["Birthday"].astype('datetime')
# customer["City"] = customer["City"].astype('string')
print(customer.head())
print(customer.dtypes)

   CustomerKey  Gender               Name            City State Code  \
0          301  Female      Lilly Harding  wandearah east         SA
1          325  Female       Madison Hull      mount budd         WA
2          554  Female      Claire Ferres       winjallok        VIC
3          786    Male  Jai Poltpalingada    middle river         SA
4         1042    Male    Aidan Pankhurst   tawonga south        VIC

               State Zip Code    Country  Continent   Birthday
0    South Australia     5523  Australia  Australia 1939-07-03
1  Western Australia     6522  Australia  Australia 1979-09-27
2           Victoria     3380  Australia  Australia 1947-05-26
3    South Australia     5223  Australia  Australia 1957-09-17
4           Victoria     3698  Australia  Australia 1965-11-19
CustomerKey             int64
Gender                 object
Name                   object
City                   object
State Code             object
State                  object
Zip Code               object
Country                object
Continent              object
Birthday       datetime64[ns]
dtype: object

In [4]:
# Exchange_rate
ex_rate = pd.read_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\Datasets\\Exchange_Rates.csv", encoding='latin1')
print(ex_rate.info())
print(ex_rate.shape)
print(ex_rate.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB
None
(11215, 3)
       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [5]:
# EDA for exchange rates
ex_rate["Date"] = pd.to_datetime(ex_rate["Date"], format="%m/%d/%Y")
print(ex_rate.head())

        Date Currency  Exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [6]:
product = pd.read_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\Datasets\\Products.csv", encoding='latin1')
print(product.shape)
print(product.info())
print(product.head())

(2517, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   object
 5   Unit Price USD  2517 non-null   object
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: int64(3), object(7)
memory usage: 196.8+ KB
None
   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red

  Unit Cost USD Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0        $6.62         $12.99              101     MP4&MP3            1
1        $6.62         $12.99              101     MP4&MP3            1
2        $7.40         $14.52              101     MP4&MP3            1
3       $11.00         $21.57              101     MP4&MP3            1
4       $11.00         $21.57              101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio

In [7]:
# EDA in product
# Assuming 'product_cost_price' and 'product_selling_price' have dollar signs or other non-numeric characters

# Clean the price columns by removing dollar signs and converting to float
product['Unit Cost USD'] = product['Unit Cost USD'].replace({r'[^\d.]': ''}, regex=True).astype('float')
product['Unit Price USD'] = product['Unit Price USD'].replace({r'[^\d.]': ''}, regex=True).astype('float')
print(product.head(10))

   ProductKey                         Product Name    Brand   Color  \
0           1  Contoso 512MB MP3 Player E51 Silver  Contoso  Silver
1           2    Contoso 512MB MP3 Player E51 Blue  Contoso    Blue
2           3     Contoso 1G MP3 Player E100 White  Contoso   White
3           4    Contoso 2G MP3 Player E200 Silver  Contoso  Silver
4           5       Contoso 2G MP3 Player E200 Red  Contoso     Red
5           6     Contoso 2G MP3 Player E200 Black  Contoso   Black
6           7      Contoso 2G MP3 Player E200 Blue  Contoso    Blue
7           8    Contoso 4G MP3 Player E400 Silver  Contoso  Silver
8           9     Contoso 4G MP3 Player E400 Black  Contoso   Black
9          10     Contoso 4G MP3 Player E400 Green  Contoso   Green

   Unit Cost USD  Unit Price USD  SubcategoryKey Subcategory  CategoryKey  \
0           6.62           12.99             101     MP4&MP3            1
1           6.62           12.99             101     MP4&MP3            1
2           7.40           14.52             101     MP4&MP3            1
3          11.00           21.57             101     MP4&MP3            1
4          11.00           21.57             101     MP4&MP3            1
5          11.00           21.57             101     MP4&MP3            1
6          11.00           21.57             101     MP4&MP3            1
7          30.58           59.99             101     MP4&MP3            1
8          30.58           59.99             101     MP4&MP3            1
9          30.58           59.99             101     MP4&MP3            1

  Category
0    Audio
1    Audio
2    Audio
3    Audio
4    Audio
5    Audio
6    Audio
7    Audio
8    Audio
9    Audio

In [8]:
sales = pd.read_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\Datasets\\Sales.csv", encoding='latin1')
print(sales.shape)
print(sales.info())
print(sales.head())

(62884, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Number   62884 non-null  int64
 1   Line Item      62884 non-null  int64
 2   Order Date     62884 non-null  object
 3   Delivery Date  13165 non-null  object
 4   CustomerKey    62884 non-null  int64
 5   StoreKey       62884 non-null  int64
 6   ProductKey     62884 non-null  int64
 7   Quantity       62884 non-null  int64
 8   Currency Code  62884 non-null  object
dtypes: int64(6), object(3)
memory usage: 4.3+ MB
None
   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1   1/1/2016           NaN       265598        10
1        366001          1   1/1/2016     1/13/2016      1269051         0
2        366001          2   1/1/2016     1/13/2016      1269051         0
3        366002          1   1/1/2016     1/12/2016       266019         0
4        366002          2   1/1/2016     1/12/2016       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD

In [9]:
# removing NAN in delivery date

# find avg days to deviler product
sales["Order Date"] = pd.to_datetime(sales["Order Date"], format="%m/%d/%Y")
sales["Delivery Date"] = pd.to_datetime(sales["Delivery Date"], format="%m/%d/%Y")
# sales.head()

In [10]:
sales.isnull().sum()

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [11]:
# Calculate the difference between known delivery dates and order dates
sales['date_diff'] = (sales["Delivery Date"] - sales["Order Date"]).dt.days

# Calculate the average difference (timedelta)
average_diff = int(round(sales['date_diff'].mean()))

print(average_diff)
# Fill missing delivery dates with orderdate + average_diff
sales["Delivery Date"] = sales["Delivery Date"].fillna(sales["Order Date"] + pd.to_timedelta(average_diff, unit='D'))

# Drop the temporary 'date_diff' column
sales.drop(columns=['date_diff'], inplace=True)
sales.isnull().sum()
# print(sales.head())

5
   Order Number  Line Item Order Date Delivery Date  CustomerKey  StoreKey  \
0        366000          1 2016-01-01    2016-01-06       265598        10
1        366001          1 2016-01-01    2016-01-13      1269051         0
2        366001          2 2016-01-01    2016-01-13      1269051         0
3        366002          1 2016-01-01    2016-01-12       266019         0
4        366002          2 2016-01-01    2016-01-12       266019         0

   ProductKey  Quantity Currency Code
0        1304         1           CAD
1        1048         2           USD
2        2007         1           USD
3        1106         7           CAD
4         373         1           CAD

In [12]:
# Checking and cleaning stores
stores = pd.read_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\Datasets\\Stores.csv", encoding='latin1')
# print(stores.shape)
# print(stores.info())
# print(stores.head())

In [13]:
# converting date number into date format
stores["Open Date"] = pd.to_datetime(stores["Open Date"], format="%m/%d/%Y")

In [14]:
# Merging customer, product, sales data and store data

merge_data =  pd.merge(product, sales, on='ProductKey')
merge_data = pd.merge(merge_data, customer, on='CustomerKey')
# merge_data = pd.merge(merge_data, stores, on="StoreKey")
# print(merge_data.head())
# print(merge_data.shape)
# print(merge_data.info())

ProductKey         2492
Product Name       2492
Brand                11
Color                16
Unit Cost USD       480
Unit Price USD      426
SubcategoryKey       32
Subcategory          32
CategoryKey           8
Category              8
Order Number      26326
Line Item             7
Order Date         1641
Delivery Date      1681
CustomerKey       11887
StoreKey             58
Quantity             10
Currency Code         5
Gender                2
Name              11782
City               6570
State Code          448
State               491
Zip Code           7771
Country               8
Continent             3
Birthday           9382
dtype: int64

In [15]:
gd = merge_data.groupby(merge_data["Product Name"])
print(gd["Product Name"].count())

Product Name
A. Datum Advanced Digital Camera M300 Azure                       11
A. Datum Advanced Digital Camera M300 Black                       10
A. Datum Advanced Digital Camera M300 Green                       14
A. Datum Advanced Digital Camera M300 Grey                        17
A. Datum Advanced Digital Camera M300 Orange                      15
                                                                ...
WWI Wireless Transmitter and Bluetooth Headphones X250 Black      81
WWI Wireless Transmitter and Bluetooth Headphones X250 Blue       73
WWI Wireless Transmitter and Bluetooth Headphones X250 Red       105
WWI Wireless Transmitter and Bluetooth Headphones X250 Silver     82
WWI Wireless Transmitter and Bluetooth Headphones X250 White      88
Name: Product Name, Length: 2492, dtype: int64

In [16]:
# SQL stroing in DB

import mysql.connector as sconn
from mysql.connector import Error


# connection
def configuration():
    # configure the sql connector 
    try:
        config = {
            "user":"root",
            "password":"root",
            "host":"localhost",
            "database":"global_electronics"
        }
        print("Configuration completed")
        return config
    
    except Error as e:
        print("Error occurred during configuration:",e)

def connection():
    # configure the connection between python and mysql
    try:
        config=configuration()
        if config is None:
            return None
        conn=sconn.connect(**config)

        if conn.is_connected():
            print("connection completed")
        return conn
    
    except Error as e:
        print("Error occurred when open connection:",e)

def drop_table(conn,query_drop):
    # this function will drop the table
    c=conn.cursor()
    try:
        c.execute(query_drop)
        print("Table dropped successfully")
    
    except Error as e:
        print("Error occurred when dropping data",e)

def create_table(conn,query_create):
    #this function will create the table
    c=conn.cursor()
    try:
        c.execute(query_create)
        print("Table Created")
        pass

    except Error as e:
        print("Error occurred when creating table",e)

def insert_data_to_table(conn,value, query):
    cursor = conn.cursor()
    
    for index, row in value.iterrows():
        # Construct the SQL INSERT query dynamically
        
        
        values = tuple(row)
        
        try:
            # Execute the query
            cursor.execute(query, values)
            conn.commit()
            print(f"Row {index + 1} inserted successfully")
        except Error as err:
            print(f"Error: {err}")
            conn.rollback()

def close_connection(conn):
    #this function will close the connection
    try:
        conn.close()
        print("connection closed successfully")
    except Error as e:
        print('Error occurred when closing the connection: ',e)

In [19]:
conn=connection()

# if the table already exists drop it to avoid the append of datas --------------------------------
# table names:
# product_sales_table
# exchange_rate_table
# store_table
# drop_table(conn,"drop table if exists sales_table")
# drop_table(conn,"drop table if exists exchange_rate_table")
# drop_table(conn,"drop table if exists store_table")

Configuration completed
connection completed
Table dropped successfully

In [22]:
# creating table

# Ordernumber is unique after combining 3 tables [customer, product, sales]
createProductSalesTable = """
create table if not exists sales_table (
product_key int,
product_name varchar(100),
product_brand varchar(100),
product_color varchar(20),
product_cost_price decimal(10, 2),
product_selling_price decimal(10, 2),
product_subcategorykey int,
product_subcategory varchar(100),
product_categoryKey int,
product_category varchar(100),
sales_ordernumber int,
sales_lineitem int,
sales_orderdate date,
sales_deliverydate date,
sales_customer_key int,
sales_storekey int,
sales_quantity int,
sales_currencycode char(3),
customer_gender varchar(10),
customer_name varchar(50),
customer_city varchar(100),
customer_state_code varchar(100),
customer_state varchar(100),
customer_zipcode varchar(10),
customer_country varchar(50),
customer_continent varchar(50),
customer_birthday date,
primary key(sales_ordernumber, sales_lineitem)
)
"""

createExchangeRateTable = """
create table if not exists exchange_rate_table (
id int primary key auto_increment,
exchange_date date,
exchange_currency char(3),
exchange_rate float
)
"""

createStoreTable = """
create table if not exists store_table (
storekey int primary key,
store_country varchar(100),
store_state varchar(100),
store_area int,
store_open_date date
)
"""

In [23]:
# creating table
# create_table(conn, createProductSalesTable)
#create_table(conn, createExchangeRateTable)
# create_table(conn, createStoreTable)

Table Created

In [ ]:
# inserting query data into table

insertSalesQuery = """
        INSERT INTO sales_table (
            product_key, product_name, product_brand, product_color, 
            product_cost_price, product_selling_price, product_subcategorykey, product_subcategory, 
            product_categoryKey, product_category, sales_ordernumber, sales_lineitem, 
            sales_orderdate, sales_deliverydate, sales_customer_key, sales_storekey, sales_quantity, 
            sales_currencycode, customer_gender, customer_name, 
            customer_city, customer_state_code, customer_state, customer_zipcode, 
            customer_country, customer_continent, customer_birthday
        )  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """

insertExchangeQuery = """
        INSERT INTO exchange_rate_table (
            exchange_date, exchange_currency, exchange_rate
        ) VALUES (%s, %s, %s);
"""

insertStoreQuery = """
        INSERT INTO store_table(
            storekey, store_country, store_state, store_area, store_open_date
        ) VALUES (%s, %s, %s, %s, %s);
"""
# insert_data_to_table(conn,merge_data, insertSalesQuery)
#insert_data_to_table(conn,ex_rate, insertExchangeQuery)
#insert_data_to_table(conn,stores, insertStoreQuery)
#print(merge_data["Order Number"].nunique())
#print(stores.head())

In [25]:
merge_data.to_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\resultentDataset\\product_sales.csv", index=True, mode = 'w')

In [26]:
ex_rate.to_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\resultentDataset\\exchange_rate.csv",
               index=True, mode = 'w' )

In [27]:
stores.to_csv("D:\\python\\VsCodePythonWorkplace\\project_global_electronics\\resultentDataset\\stores_data.csv",
               index=True, mode = 'w')